*.js
!jest.config.js
!ts-node-esm-register.js
*.d.ts
node_modules
nodejs
dist
*.gz
.aws/synth.yml
.aws/outputs.json

# CDK asset staging directory
.cdk.staging
cdk.out
.env
.env.sh
.envrc
.aider.tags.*
!update-env.js